package components


templ Upload() {
    <form id='form' hx-encoding='multipart/form-data' hx-post='/upload' hx-target="#directory">
        <input type="file" name="file"></input>
        <button>Upload</button>
    </form>
}
